@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: '#6e0d2b'
}
* {
  box-sizing: border-box;
}

.bg-fractal {
  background-image: url('/fractalbaby_bg.jpg');
  background-size: cover;
}

.bg-layer-dark {
  background-color: rgba(17, 24, 39, 0.9);
}
